* {
  background-color: #baeaf4;
  color: #0b6583;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

nav > img{
  height: 3em;
  width: 4em;
  margin: 1em;
}

.container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container > img{
  width: 35vh;
  height:40vh;
}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 2vh;
  background: #f0c15f;
  padding: 10px 20px 10px 20px;
  border: solid #f0c15f 2px;
  text-decoration: none;
}

.btn:hover {
  border-style: solid;
  border-color: #0b6583;
  text-decoration: none;
  cursor: pointer;
}


hr {
  border: 4px solid #f0c15f;
}


main{
  margin:2vh;
  text-align: center;
}

i{
  margin: 2%;
}

footer > a{
  text-decoration: none;
}

footer{
  width: 80%;
}


/* Mobile  */
@media (max-width: 767px){
  nav > a {
    display: none;
  }

}


/* tablet */
@media (min-width: 768px){
nav > a {
    display: none;
  }

  .container{
    display: grid;
    grid-template-rows: 1fr 30%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 4%;
    margin-right: 8%;
    margin-top: 4vh;
    font-size: 4vh;
  }
  
  .container > img{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self:end;
    width: 50vh;
    height:60vh;
  }

  .container footer{
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .btn{
    font-size: 4vh;
  }

  main{
    grid-row-start: 1;
    text-align: left;
  }

}


/* desktop */
@media (min-width: 992px) {
  nav > img{
    display: none;
  }

  nav > a {
    display: inline;
    font-size: 5vh;
    text-decoration: none;
    padding-bottom: 2vh;
    margin: 5vh;
  }
  
  nav > a:hover {
    border-bottom: 5px solid #f0c15f;
  }

  .container{
    display: grid;
    grid-template-rows: 1fr 30%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4vh;
    font-size: 4vh;
  }
  
  .container > img{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self:end;
    width: 50vh;
    height:60vh;
  }

  .container footer{
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
    width:80%;
  }

  .btn{
    font-size: 4vh;
    margin-top:100vh;
  }

  main{
    grid-row-start: 1;
    text-align: left;
  }

  

}

